apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "conduit.fullname" . }}
  labels:
    {{- include "conduit.labels" . | nindent 4 }}
data:
  config.yaml: |
    ssh:
      host: {{ .Values.ssh.host | quote }}
      port: {{ .Values.ssh.port }}
      user: {{ .Values.ssh.user | quote }}
      {{- if .Values.ssh.keySecret }}
      keyFile: "/app/ssh/{{ .Values.ssh.keySecretKey }}"
      {{- else }}
      password: ${SSH_PASSWORD}
      {{- end }}

    tunnels:
      {{- range .Values.tunnels }}
      - name: {{ .name | quote }}
        remoteHost: {{ .remoteHost | quote }}
        remotePort: {{ .remotePort }}
        localPort: {{ .localPort }}
        {{- if .autoRestart }}
        autoRestart:
          enabled: {{ .autoRestart.enabled }}
          interval: {{ .autoRestart.interval | quote }}
        {{- end }}
      {{- end }}